.DS_Store
Thumbs.db
Thumbs.db.meta

*/.msdk/data/
**/StreamingAssets/buildInfo.txt*
**/StreamingAssets/app-version.json*

Recommendations.asset*

Assets/Dropbox/VO
Assets/Dropbox/VO.meta
Assets/TextMesh Pro
Assets/TextMesh Pro.meta

Library/
Temp/
obj/

.vs/
.vscode/

*.taghl
*.taghl.meta
*.swp
*.swo

tags
tags.meta

*.pyc*
*.log

*.sln
*.suo
*.csproj
*.unityproj
*.userprefs

*.apk
*.app
*.ipa
*.obb

**/DOTween/DOTween.sln*
**/DOTween/DOTween.userprefs*
